model = "gpt-5.2"
model_reasoning_effort = "medium"

[mcp_servers.context7]
args = ["-y", "@upstash/context7-mcp"]
command = "npx"

[notice]
"hide_gpt-5.1-codex-max_migration_prompt" = true

[features]
web_search_request = true
