/*

!.gitignore

!/.agents/
/.agents/**
!/.agents/skills/
!/.agents/skills/**
/.agents/skills/.system/

!/.claude/
/.claude/**
!/.claude/skills
!/.claude/commands/
!/.claude/commands/**
!/.claude/hooks/
!/.claude/hooks/**

!/.codex/
/.codex/**
!/.codex/skills

!/.config/
/.config/**
!/.config/opencode/
/.config/opencode/**
!/.config/opencode/command/
!/.config/opencode/command/**
!/.config/opencode/skills
!/.config/opencode/plugin/
!/.config/opencode/plugin/**

!/.config/nix/
!/.config/nix/**

!/.config/nvim/
!/.config/nvim/init.lua
!/.config/nvim/lazy-lock.json
 
!/.config/kitty/
!/.config/kitty/**

!/.config/tmux/
!/.config/tmux/**
/.config/tmux/plugins/

!/.config/lazygit/
!/.config/lazygit/**
/.config/lazygit/state.yml

!/.config/micro/
!/.config/micro/settings.json

!/.config/mise/
!/.config/mise/**

.DS_Store

!/.clawdbot/
/.clawdbot/**
!/.clawdbot/clawdbot.json
