/*

!.gitignore

# Allow new claude skills and commands
!/.claude/
/.claude/**
!/.claude/skills/
!/.claude/skills/**
!/.claude/commands/
!/.claude/commands/**

# Allow new opencode data
!/.config/
/.config/**
!/.config/opencode/
/.config/opencode/**
!/.config/opencode/command/
!/.config/opencode/command/**
!/.config/opencode/skill/
!/.config/opencode/skill/**
!/.config/opencode/plugin/
!/.config/opencode/plugin/**

# Allow nix
!/.config/nix/
!/.config/nix/**

# Allow Neovim config + lockfile
!/.config/nvim/
!/.config/nvim/init.lua
!/.config/nvim/lazy-lock.json

.DS_Store
