[rebase]
	autosquash = true
[fetch]
	prune = true
[diff]
	algorithm = histogram
[merge]
	conflictStyle = zdiff3
[rerere]
	enabled = true
[branch]
	sort = -committerdate
[tag]
	sort = -version:refname
[column]
	ui = auto
